/* Form */
section#input-form{
	position: relative;
	max-width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 60px;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0 0 7px 0px rgba(136, 146, 146, 0.2);
	padding: 30px;
}
#input-form .form{
	width: 100%;
	display: grid;
	margin-top: 15px;
	margin-bottom: 15px;
}
label{
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}
input{
	font-family: 'Helvetica', sans-serif;
	padding: 10px 20px 10px 20px;
	outline: none;
	border-radius: 3px;
	border: 1px solid #888;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
} 